@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-color: rgba(51, 23, 151, 0.507);
    --medium-color: #333;
    --light-color: rgba(202, 134, 94, 0.479);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    color: var(--light-color);
    padding: 1rem;
}

.header {
    height: 95vh;
    background-image:linear-gradient(to right bottom, var(--light-color), var(--dark-color)), url("../images/Universe.jpg");
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0 100%);
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    text-transform: uppercase;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    animation: MoveInFromLeft 3s ease-out;
}


@keyframes MoveInFromLeft {
    0% {
        opacity: 0%;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    letter-spacing: 1.1rem;
    animation: MoveInFromRight 3s ease-out;
}

@keyframes MoveInFromRight{
    0% {
        opacity: 0%;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.btn--head{
    display: block;
    text-decoration: none;
    border: 3px solid var(--light-color);
    color: var(--light-color);
    text-transform: uppercase;
    width: fit-content;
    padding: 2rem;
    margin: 2rem auto -15rem;
    animation: fadeIn 3s;
    transition: transform 0.8s ease-in-out;
}

.btn--head:hover{
    transform: scale(1.2);
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.section-about {
    background-color: var(--light-color);
    padding: 40rem 0;
    margin-top: -20rem;
    
}

.column {
    float: left;
    width: 50%;
    height: 300px;
    padding: 2rem;
}

.row:after{
   content: "";
   display: table;
   clear: both;
}

.u-center-text {
    text-align: center;
    margin-bottom: 3rem;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin: auto 0;
    color: transparent;
    background-image: linear-gradient(to right, var(--light-color), var(--dark-color));
    -webkit-background-clip: text;
    transition: all 2s;

}

.heading-secondary:hover {
    transform: skewY(2deg) skewY(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.section-about p {
    font-size: 1.6rem;
    padding-bottom: 3rem;
}

.btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: var(--medium-color);
    text-decoration: none;
    border-bottom: 0.2rem solid var(--dark-color);
    display: inline-block;
    padding: 0.5rem;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: var(--dark-color);
    color: #ffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btn-text:active {
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(5px);
}

.composotion {
    position: relative;
}

.composition__photo {
    width: 35%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.3s;
}

.composition__photo:hover {
    outline: 1rem solid var(--medium-color);
    transform: scale(1.05) translate(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.composotion__photo--p1 {
    left: -35;
    top: 76rem;
}

.composotion__photo--p2 {
    right: 2rem;
    top: 65rem;
}

.composotion__photo--p3 {
    left: 49rem;
    top: 85rem;
}

.section-features {
    height: 75vh;
    background-image:linear-gradient(to right bottom, var(--light-color), var(--dark-color)), url("../images/Universe.jpg");
    clip-path: polygon(0 21%, 100% 4%, 100% 97%, 0 100%);
    background-size: cover;
    padding: 32rem 0;
    margin-top: -15rem;
    
}

.column-1-of-4 {
    float: left;
    width: 25%;
    height: 300px;
    padding: 2rem;
}

.feature-box {
    background-color: var(--light-color);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
    transition: transform 0.3s;

}

.feature-box h3, p {
    color: var(--medium-color);
}

.feature-box:hover {
    transform: translateY(-1.5rem) scale(1.2);
}

.feature-box i {
    font-size: 5rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: linear-gradient(to right, var(--light-color), var(--dark-color));
    -webkit-background-clip: text;
    color: transparent;
}